# THIS FILE IS NOT INCLUDED IN THE GITIGNORE!!!

# "dev" | "prod"
APP_ENV="dev"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="http://localhost:8000"
NEXT_PUBLIC_SUPABASE_ANON_KEY="supabase_anon_key_here"
SUPABASE_SERVICE_ROLE_KEY="supabase_service_role_key_here"
